* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 27px;
  color: rgba(51, 51, 51, 0.6);
}

@media (min-width: 768px) and (max-width: 991px) {
  body {
    background-color: #f9f9f9;
  }
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4 {
  font-family: "Overpass", sans-serif;
  color: #163665;
}

.container {
  margin: auto;
  padding: 0 15px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 25px;
  }
}

.primary--btn {
  font-family: "Overpass", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 31px;
  color: #ffffff;
  background: #173c73;
  border-radius: 5px;
  padding: 14px 27px;
  display: inline-block;
}

.primary--btn:hover {
  color: #fff;
}

.logo span {
  font-family: "Overpass", sans-serif;
  font-weight: bold;
  font-size: 37px;
  line-height: 130.2%;
  letter-spacing: -0.06em;
  color: #163665;
}

.logo span span {
  font-weight: 900;
  text-transform: uppercase;
  color: #256eda;
}

.wrapper {
  position: relative;
  background: #fcfcfc;
  overflow: hidden;
}

.wrapper:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 37%;
  height: 100%;
  z-index: 0;
  background: radial-gradient(84.85% 84.85% at 121.56% -22.78%, #173c73 0%, #06172f 100%);
}

.wrapper .container.overlay {
  position: relative;
}

.wrapper .container.overlay:after {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  right: -230px;
  width: 650px;
  height: 100%;
  z-index: 0;
  background: #06172f;
}

header .navbar {
  padding: 30px 0;
}

header .navbar .container {
  padding: 0;
}

header .navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar-nav .nav-item a {
  font-family: "Overpass", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 31px;
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
}

header .navbar-nav .nav-item a.login-btn {
  margin-right: 33px;
  margin-left: 45px;
  background: #ffffff;
  border-radius: 5px;
  height: 45px;
  line-height: 45px;
  width: 115px;
  color: #173c73;
  text-align: center;
}

.hero-content {
  padding-top: 140px;
  padding-bottom: 150px;
  position: relative;
  z-index: 1;
}

.hero-content .hero-left h1.hero-title {
  font-weight: bold;
  font-size: 70px;
  line-height: 104%;
}

.hero-content .hero-left p {
  max-width: 360px;
  margin: 20px 0 50px;
}

.hero-content .hero-right {
  position: relative;
  -webkit-box-shadow: 5px 9px 26px rgba(33, 83, 213, 0.2);
          box-shadow: 5px 9px 26px rgba(33, 83, 213, 0.2);
  border-radius: 15px;
  overflow: hidden;
}

.hero-content .hero-right:before {
  content: "";
  position: absolute;
  width: 241px;
  height: 241px;
  border-radius: 50%;
  left: -75px;
  top: -85px;
  z-index: -1;
  border: 1px solid rgba(37, 110, 218, 0.13);
  display: block;
}

.hero-content .hero-right:after {
  content: "";
  background-image: url(../imgs/polygon.svg);
  width: 209px;
  height: 209px;
  right: -74px;
  bottom: -80px;
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
  position: absolute;
  z-index: -1;
}

.hero-content .hero-right .nav-tabs {
  background: #eef5ff;
  border-radius: 15px 15px 0 0;
  border: 0;
  overflow: hidden;
}

.hero-content .hero-right .nav-tabs .nav-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  margin-bottom: 0;
}

.hero-content .hero-right .nav-tabs .nav-item a {
  font-family: "Overpass", sans-serif;
  font-size: 16px;
  line-height: 104%;
  border: 0;
  padding: 27px 11px;
  display: block;
  color: rgba(0, 0, 0, 0.4);
}

.hero-content .hero-right .nav-tabs .nav-item.show .nav-link,
.hero-content .hero-right .nav-tabs .nav-item .nav-link.active {
  color: #163665;
}

.hero-content .hero-right .tab-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 0 0 15px 15px;
  min-height: 400px;
  max-height: 400px;
  overflow: auto;
}

.hero-content .hero-right .tab-content::-webkit-scrollbar-thumb {
  background: #256eda;
  border-radius: 40px;
}

.hero-content .hero-right .tab-content::-webkit-scrollbar-track {
  background: #fff;
}

.hero-content .hero-right .tab-content::-webkit-scrollbar {
  width: 6px;
}

.hero-content .hero-right .tab-content .tab-pane .copyFiles-content h4 {
  font-size: 12px;
  line-height: 104%;
  color: #333333;
}

.hero-content .hero-right .tab-content .tab-pane .copyFiles-content h4 span {
  font-size: 12px;
  line-height: 104%;
  float: right;
  color: rgba(51, 51, 51, 0.6);
}

.hero-content .hero-right .tab-content .tab-pane .copyFiles-content textarea {
  width: 100%;
  min-height: 265px;
  border: 0.2px solid #c6c7c7;
  border-radius: 3px;
  padding: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hero-content .hero-right .tab-content .tab-pane .copyFiles-content textarea::-webkit-scrollbar-thumb {
  background: rgba(179, 179, 179, 0.4);
  border-radius: 40px;
}

.hero-content .hero-right .tab-content .tab-pane .copyFiles-content textarea::-webkit-scrollbar-track {
  background: #fff;
}

.hero-content .hero-right .tab-content .tab-pane .copyFiles-content textarea::-webkit-scrollbar {
  width: 4px;
}

.hero-content .hero-right .tab-content .tab-pane .copyFiles-content textarea:hover {
  -webkit-box-shadow: 3px 3px 9px #f3e7e7;
          box-shadow: 3px 3px 9px #f3e7e7;
}

.hero-content .hero-right .tab-content .tab-pane .copyFiles-content textarea:focus {
  outline: none;
  border: 0.5px solid #96a1ac;
}

.hero-content .hero-right .tab-content .tab-pane .copyFiles-content .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-content .hero-right .tab-content .tab-pane .copyFiles-content .bottom input {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 5px;
  position: relative;
  cursor: pointer;
}

.hero-content .hero-right .tab-content .tab-pane .copyFiles-content .bottom input:after {
  position: absolute;
  top: -1px;
  left: -1px;
  content: "";
  width: 14px;
  height: 14px;
  z-index: 1;
  border: 2px inset #000;
  border-radius: 4px;
}

.hero-content .hero-right .tab-content .tab-pane .copyFiles-content .bottom label {
  font-family: "Overpass", sans-serif;
  font-size: 14px;
  line-height: 104%;
  color: #333333;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.hero-content .hero-right .tab-content .tab-pane .copyFiles-content .bottom label a {
  font-weight: bold;
  color: #256eda;
}

.hero-content .hero-right .tab-content .tab-pane .copyFiles-content .bottom > a {
  padding: 17px 43px;
  line-height: 1;
  font-size: 14px;
}

.hero-content .hero-right .tab-content .tab-pane .form-group.last {
  margin-bottom: 0;
}

.hero-content .hero-right .tab-content .tab-pane .form-group label {
  font-family: "Overpass", sans-serif;
  font-size: 12px;
  line-height: 104%;
  color: #333333;
  display: block;
}

.hero-content .hero-right .tab-content .tab-pane .form-group input {
  color: #333333;
  padding: 11px 20px 16px;
  line-height: 1;
  width: 100%;
  border: 0.2px solid #ccc;
  border-radius: 3px;
  outline: none;
  min-height: 48px;
}

.hero-content .hero-right .tab-content .tab-pane .form-group input:focus {
  border: 0.5px solid #96a1ac;
}

.hero-content .hero-right .tab-content .tab-pane .form-group input::-webkit-input-placeholder {
  font-family: "Overpass";
  font-size: 12px;
  color: rgba(51, 51, 51, 0.4);
}

.hero-content .hero-right .tab-content .tab-pane .form-group input:-ms-input-placeholder {
  font-family: "Overpass";
  font-size: 12px;
  color: rgba(51, 51, 51, 0.4);
}

.hero-content .hero-right .tab-content .tab-pane .form-group input::-ms-input-placeholder {
  font-family: "Overpass";
  font-size: 12px;
  color: rgba(51, 51, 51, 0.4);
}

.hero-content .hero-right .tab-content .tab-pane .form-group input::placeholder {
  font-family: "Overpass";
  font-size: 12px;
  color: rgba(51, 51, 51, 0.4);
}

.hero-content .hero-right .tab-content .tab-pane .form-group select {
  width: 100%;
  padding: 12px 20px;
  outline: none;
  border: 0.2px solid #ccc;
  border-radius: 3px;
}

.hero-content .hero-right .tab-content .tab-pane#remoteUpload .remoteUpload-content textarea {
  min-height: 87px;
}

.hero-content .hero-right .tab-content .tab-pane#copyFiles .copyFiles-content h4 {
  font-size: 12px;
  line-height: 104%;
  color: #333333;
}

.hero-content .hero-right .tab-content .tab-pane#copyFiles .copyFiles-content h4 span {
  font-size: 12px;
  line-height: 104%;
  float: right;
  color: rgba(51, 51, 51, 0.6);
}

.hero-content .hero-right .tab-content .tab-pane#copyFiles .copyFiles-content textarea {
  width: 100%;
  min-height: 265px;
  border: 0.2px solid #c6c7c7;
  border-radius: 3px;
  padding: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hero-content .hero-right .tab-content .tab-pane#copyFiles .copyFiles-content textarea::-webkit-scrollbar-thumb {
  background: rgba(179, 179, 179, 0.4);
  border-radius: 40px;
}

.hero-content .hero-right .tab-content .tab-pane#copyFiles .copyFiles-content textarea::-webkit-scrollbar-track {
  background: #fff;
}

.hero-content .hero-right .tab-content .tab-pane#copyFiles .copyFiles-content textarea::-webkit-scrollbar {
  width: 4px;
}

.hero-content .hero-right .tab-content .tab-pane#copyFiles .copyFiles-content textarea:hover {
  -webkit-box-shadow: 3px 3px 9px #f3e7e7;
          box-shadow: 3px 3px 9px #f3e7e7;
}

.hero-content .hero-right .tab-content .tab-pane#copyFiles .copyFiles-content textarea:focus {
  outline: none;
  border: 0.5px solid #96a1ac;
}

.hero-content .hero-right .tab-content .tab-pane#copyFiles .copyFiles-content .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-content .hero-right .tab-content .tab-pane#copyFiles .copyFiles-content .bottom input {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 5px;
  position: relative;
  cursor: pointer;
}

.hero-content .hero-right .tab-content .tab-pane#copyFiles .copyFiles-content .bottom input:after {
  position: absolute;
  top: -1px;
  left: -1px;
  content: "";
  width: 14px;
  height: 14px;
  z-index: 1;
  border: 2px inset #000;
  border-radius: 4px;
}

.hero-content .hero-right .tab-content .tab-pane#copyFiles .copyFiles-content .bottom label {
  font-family: "Overpass", sans-serif;
  font-size: 14px;
  line-height: 104%;
  color: #333333;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.hero-content .hero-right .tab-content .tab-pane#copyFiles .copyFiles-content .bottom label a {
  font-weight: bold;
  color: #256eda;
}

.hero-content .hero-right .tab-content .tab-pane#copyFiles .copyFiles-content .bottom > a {
  padding: 17px 43px;
  line-height: 1;
  font-size: 14px;
}

.hero-content .hero-right .tab-content .tab-pane#torrentLeach {
  position: relative;
  text-align: center;
  min-height: 360px;
}

.hero-content .hero-right .tab-content .tab-pane#torrentLeach .torrentLeach-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero-content .hero-right .tab-content .tab-pane#torrentLeach svg {
  position: absolute;
  right: -85px;
  top: -165px;
}

.hero-content .hero-right .tab-content .tab-pane#torrentLeach h3 {
  font-size: 21px;
  line-height: 119.7%;
  color: #333333;
  width: 360px;
  margin-bottom: 20px;
}

.hero-content .hero-right .tab-content .tab-pane#torrentLeach a {
  font-size: 14px;
  padding: 9px 16px;
  line-height: 1;
}

/********************************************************************/
.fileuploader {
  position: relative;
  height: 350px;
  border: 3px dashed rgba(37, 110, 218, 0.3);
  border-radius: 15px;
}

.fileuploader .form-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding-bottom: 20px;
}

.fileuploader h3.title {
  font-family: "Overpass", sans-serif;
  font-size: 16px;
  line-height: 119.7%;
  color: #163665;
  margin: 30px 0 20px;
}

.fileuploader #browse {
  padding: 0px 19px;
  font-size: 14px;
  border: 0;
}

.fileuploader.active {
  background: #eee;
}

/** Preview of collections of uploaded documents **/
.preview-container {
  display: none;
}

.preview-container .files-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preview-container .files-upload .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preview-container .files-upload .left-side .icon {
  margin-right: 20px;
  position: relative;
  top: -5px;
}

.preview-container .files-upload .left-side .info h4 {
  font-weight: bold;
  font-size: 16px;
  line-height: 104%;
  color: #333333;
  margin-bottom: 0;
}

.preview-container .files-upload .left-side .info span {
  font-family: "Overpass", sans-serif;
  font-size: 14px;
  line-height: 104%;
  color: rgba(51, 51, 51, 0.5);
  display: inline-block;
}

.preview-container .files-upload .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preview-container .files-upload .right-side label {
  font-family: "Overpass", sans-serif;
  font-size: 14px;
  line-height: 104%;
  color: #333333;
  margin-left: 10px;
  margin-bottom: 0;
}

.preview-container .files-upload .right-side input {
  position: relative;
  top: -1px;
}

.preview-container .files-upload .right-side a {
  background: #dfdfdf;
  border-radius: 5px;
  padding: 7px 8px;
  margin-left: 25px;
}

.preview-container #add-more {
  padding-bottom: 20px;
}

.preview-container .add-more-content {
  text-align: center;
  margin: 25px 0 35px;
}

.preview-container .add-more-content a {
  font-family: "Overpass", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: #333333;
  padding: 10px 17px 6px;
  border: 1px solid #256eda;
  border-radius: 5px;
  display: inline-block;
}

.preview-container a.upload {
  font-family: "Overpass", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  width: 100%;
  height: 48px;
  line-height: 48px;
  padding: 0;
}

.preview-container #previews.collection .collection-item {
  background: #f7f7f7;
  border-radius: 10px;
  padding: 18px 18px 18px 25px;
  margin-bottom: 10px;
}

/********************************************************************/
.features {
  padding-top: 140px;
  padding-bottom: 115px;
  overflow: hidden;
}

.features-content {
  max-width: 1400px;
  margin: auto;
  position: relative;
}

.features-content svg.polygon {
  position: absolute;
  top: -230px;
  right: -448px;
  z-index: -1;
}

.features-content .container {
  position: relative;
}

.features-content .container .feat-1-shape {
  position: absolute;
  top: 244px;
  z-index: -1;
  left: -15px;
}

.features-content .container .feat-3-shape {
  position: absolute;
  bottom: -20px;
  z-index: -1;
  right: -45px;
}

.features-title {
  font-weight: bold;
  font-size: 60px;
  line-height: 119.7%;
}

.features-desc {
  max-width: 900px;
  color: #333333;
  margin: 20px auto 130px;
}

.features .feat {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 64px rgba(84, 84, 84, 0.03);
          box-shadow: 0px 0px 64px rgba(84, 84, 84, 0.03);
  border-radius: 5px;
  padding: 0 45px 45px 45px;
}

.features .feat .image {
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features .feat .image img {
  margin: auto;
}

.features .feat h3 {
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 119.7%;
}

.features .feat p {
  line-height: 139.7%;
  color: rgba(51, 51, 51, 0.6);
}

.numbers {
  padding-top: 115px;
}

.numbers .section-title {
  font-weight: bold;
  font-size: 60px;
  line-height: 104%;
  color: #333333;
  border-right: 1px solid rgba(22, 54, 101, 0.2);
}

.numbers .box {
  text-align: center;
  padding-top: 145px;
  padding-bottom: 160px;
  position: relative;
}

.numbers .box h2 {
  background: linear-gradient(100.08deg, #163665 -4.65%, #256eda 115.99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-size: 100px;
  line-height: 119.7%;
  text-align: center;
}

.numbers .box .h4 {
  font-size: 22px;
  line-height: 119.7%;
  text-align: center;
  color: #333333;
}

.numbers .box.box-3 h2 {
  background: linear-gradient(103.59deg, #173c73 -172.59%, #256eda 90.19%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  display: inline-block;
}

.numbers .box.box-3 h2 span {
  position: absolute;
  right: -40px;
  bottom: 35px;
  font-weight: normal;
  font-size: 30px;
  line-height: 119.7%;
  text-align: center;
  z-index: 1;
  display: block;
  -webkit-text-fill-color: rgba(51, 51, 51, 0.6);
}

.numbers .box.box-3 svg {
  position: absolute;
  top: 70px;
  right: 60px;
  z-index: -1;
}

.numbers .box.box-1:after {
  content: "";
  position: absolute;
  width: 139px;
  height: 191px;
  background: rgba(182, 195, 255, 0.07);
  border-radius: 20px;
  top: 95px;
  right: 30px;
  z-index: -1;
}

.numbers .box.box-2:after {
  content: "";
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: rgba(23, 60, 115, 0.08);
  top: 77px;
  right: 100px;
  z-index: -1;
}

.numbers .box.box-2 svg {
  position: absolute;
  right: 27px;
  top: 170px;
  z-index: -1;
}

.good {
  padding-top: 160px;
  padding-bottom: 245px;
  overflow: hidden;
}

.good-content {
  max-width: 1400px;
  margin: auto;
  position: relative;
}

.good-content svg {
  position: absolute;
}

.good-content .shape-1 {
  top: 20px;
  right: 203px;
}

.good-content .shape-2 {
  top: -140px;
  right: -120px;
}

.good-content .shape-3 {
  top: 0;
  left: -140px;
}

.good h2 {
  font-weight: bold;
  font-size: 60px;
  line-height: 104%;
  color: #333333;
}

.good p {
  margin: 30px 0 40px;
}

.good a {
  padding: 15px 40px;
}

main h1 {
  font-family: "Overpass", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 42px;
  text-align: center;
  padding: 125px 0 53px;
  color: #163665;
  max-width: 855px;
  margin: auto;
}

@media (max-width: 767px) {
  main h1 {
    font-size: 28px;
    line-height: 32px;
    text-align: left;
    padding: 110px 10px 35px 0;
  }
}

main .alert {
  background: rgba(237, 90, 90, 0.08);
  border-radius: 10px;
  padding: 17px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  main .alert {
    text-align: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 14px 22px;
  }
}

main .alert svg {
  margin-right: 22px;
}

@media (min-width: 768px) and (max-width: 991px) {
  main .alert svg {
    margin-right: 12px;
  }
}

main .alert p {
  line-height: 27px;
  color: #ed5a5a;
}

@media (min-width: 768px) and (max-width: 991px) {
  main .alert p {
    font-size: 14px;
    line-height: 166%;
  }
}

@media (max-width: 767px) {
  main .alert p {
    font-size: 12px;
    line-height: 166%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.steps {
  padding: 74px 0 142px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .steps {
    padding: 50px 0 70px;
  }
}

@media (max-width: 767px) {
  .steps {
    padding: 39px 0 45px;
  }
}

.steps .steps-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .steps .steps-boxes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.steps .steps-boxes .box {
  margin: 8px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .steps .steps-boxes .box:not(:last-child) {
    margin: 0 0 30px 0;
  }
  .steps .steps-boxes .box:last-child {
    margin: 0 0 40px 0;
  }
}

.steps .steps-boxes .box .box-content {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 64px rgba(84, 84, 84, 0.05);
          box-shadow: 0px 0px 64px rgba(84, 84, 84, 0.05);
  border-radius: 4px;
  padding: 53px 42px 47px;
  text-align: center;
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .steps .steps-boxes .box .box-content {
    padding: 45px 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .steps .steps-boxes .box .box-content {
    padding: 45px 20px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media (max-width: 767px) {
  .steps .steps-boxes .box .box-content {
    padding: 40px 22px;
    width: 100%;
  }
}

.steps .steps-boxes .box .icon {
  width: 242px;
  height: 168px;
  margin: 0 auto 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .steps .steps-boxes .box .icon {
    width: 222px;
    height: 150px;
    margin: 0 auto 44px;
  }
  .steps .steps-boxes .box .icon img {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

.steps .steps-boxes .box .icon img {
  margin: auto;
}

.steps .steps-boxes .box h3 {
  font-family: "Overpass", sans-serif;
  font-weight: 800;
  font-size: 28px;
  line-height: 34px;
  color: #163665;
}

@media (max-width: 991px) {
  .steps .steps-boxes .box h3 {
    font-size: 24px;
    line-height: 29px;
  }
}

.steps .steps-boxes .box p {
  font-size: 20px;
  line-height: 28px;
  color: rgba(51, 51, 51, 0.6);
  margin: 23px 0 39px;
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .steps .steps-boxes .box p {
    font-size: 18px;
  }
}

@media (max-width: 991px) {
  .steps .steps-boxes .box p {
    font-size: 16px;
    line-height: 22px;
    margin: 16px 0 27px;
  }
  .steps .steps-boxes .box p.second-p {
    max-width: 210px;
    margin: 16px auto 27px;
  }
}

.steps .steps-boxes .box .btn {
  background: #173c73;
  border-radius: 5px;
  padding: 20px 25px;
  font-family: "Overpass", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 31px;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
}

@media (min-width: 768px) and (max-width: 992px) {
  .steps .scrolled {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .steps .sm-scrolled {
    width: auto;
    padding: 0 40px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow: auto;
  }
  .steps .sm-scrolled .box {
    max-width: 100%;
  }
  .steps .sm-scrolled .box .box-content {
    width: 280px;
  }
  .steps .sm-scrolled .box .box-content.last {
    margin-right: 40px;
  }
}

footer {
  padding: 80px 0 110px;
}

footer.download-manager {
  background: #f0f4fb;
}

@media (min-width: 768px) and (max-width: 991px) {
  footer {
    padding: 60px 0 80px;
  }
}

@media (max-width: 767px) {
  footer {
    padding: 55px 0;
  }
}

footer .columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) and (max-width: 991px) {
  footer .columns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  footer .columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .columns .column.one {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
}

footer .columns .column.two, footer .columns .column.three {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer .columns .column .logo a {
  display: inline-block;
}

@media (max-width: 767px) {
  footer .columns .column .logo img {
    width: 140px;
  }
}

footer .columns .column .copyright {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 38px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.7);
  margin-top: 10px;
}

@media (max-width: 767px) {
  footer .columns .column .copyright {
    font-size: 10px;
    margin-top: 0;
  }
}

footer .columns .column h3 {
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #173c73;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  footer .columns .column h3 {
    font-size: 24px;
    line-height: 29px;
  }
}

footer .columns .column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer .columns .column ul li:not(:last-child) {
  margin-bottom: 20px;
}

footer .columns .column ul li a {
  display: inline-block;
  text-decoration: none;
  color: #173c73;
}

@media (max-width: 767px) {
  footer .columns .column ul li a {
    font-size: 14px;
    line-height: 24px;
  }
}

@media (min-width: 1000px) and (max-width: 1200px) {
  footer .columns .column.one {
    -webkit-box-flex: 1.5;
        -ms-flex: 1.5;
            flex: 1.5;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  footer .columns .column {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
  footer .columns .column.two, footer .columns .column.three {
    width: 50%;
    margin-bottom: 55px;
  }
  footer .columns .column.one {
    width: 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media (max-width: 767px) {
  footer .columns .column.one {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  footer .columns .column:not(:first-child) {
    margin-bottom: 44px;
  }
}

.select2-search--dropdown {
  display: none;
}

.select2-container {
  width: 100% !important;
}

.select2-container--default .select2-selection--single {
  height: 100%;
  outline: none;
}

.select2-container--default
.select2-selection--single
.select2-selection__rendered {
  line-height: 46px;
}

.select2-container--default
.select2-selection--single
.select2-selection__arrow {
  top: 55%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 11px;
  background-image: url(../imgs/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.select2-container--default
.select2-selection--single
.select2-selection__arrow b {
  display: none;
}

.select2-container--default
.select2-selection--single
.select2-selection__placeholder {
  font-family: "Overpass", sans-serif;
  font-size: 12px;
  line-height: 1;
  color: rgba(51, 51, 51, 0.4);
}
/*# sourceMappingURL=style.css.map */