$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 991px)";
$maxTab: "(max-width: 991px)";
$betweentabdesk: "(min-width: 1000px) and (max-width: 1200px)";
$primarColor: #173c73;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 27px;
  color: rgba(51, 51, 51, 0.6);
  @media #{$tablet} {
    background-color: #f9f9f9;
  }
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4 {
  font-family: "Overpass", sans-serif;
  color: #163665;
}

.container {
  margin: auto;
  padding: 0 15px;
  @media (min-width: 576px) {
    max-width: 540px;
  }
  @media (max-width: 576px) {
    width: 100%;
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    max-width: 720px;
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    max-width: 960px;
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
  @media #{$mobile} {
    padding: 0 25px;
  }
}

.primary--btn {
  font-family: "Overpass", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 31px;
  color: #ffffff;
  background: $primarColor;
  border-radius: 5px;
  padding: 14px 27px;
  display: inline-block;
  &:hover {
    color: #fff;
  }
}

.logo {
  span {
    font-family: "Overpass", sans-serif;
    font-weight: bold;
    font-size: 37px;
    line-height: 130.2%;
    letter-spacing: -0.06em;
    color: #163665;
    span {
      font-weight: 900;
      text-transform: uppercase;
      color: #256eda;
    }
  }
}

// Start Header Section
.wrapper {
  position: relative;
  background: #fcfcfc;
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 37%;
    height: 100%;
    z-index: 0;
    background: radial-gradient(
      84.85% 84.85% at 121.56% -22.78%,
      $primarColor 0%,
      #06172f 100%
    );
  }
  .container.overlay {
    position: relative;
    &:after {
      position: absolute;
      content: "";
      display: block;
      top: 0;
      right: -230px;
      width: 650px;
      height: 100%;
      z-index: 0;
      background: #06172f;
    }
  }
}

header {
  .navbar {
    padding: 30px 0;
    .container {
      padding: 0;
    }
  }
  .navbar-nav {
    align-items: center;
    .nav-item {
      a {
        font-family: "Overpass", sans-serif;
        font-weight: bold;
        font-size: 20px;
        line-height: 31px;
        color: rgba(255, 255, 255, 0.8);
        display: inline-block;
        &.login-btn {
          margin-right: 33px;
          margin-left: 45px;
          background: #ffffff;
          border-radius: 5px;
          height: 45px;
          line-height: 45px;
          width: 115px;
          color: $primarColor;
          text-align: center;
        }
      }
    }
  }
}
// End Header Section

// Start Hero Content Section
.hero-content {
  padding-top: 140px;
  padding-bottom: 150px;
  position: relative;
  z-index: 1;

  .hero-left {
    h1.hero-title {
      font-weight: bold;
      font-size: 70px;
      line-height: 104%;
    }
    p {
      max-width: 360px;
      margin: 20px 0 50px;
    }
    a {
    }
  }
  .hero-right {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: 241px;
      height: 241px;
      border-radius: 50%;
      left: -75px;
      top: -85px;
      z-index: -1;
      border: 1px solid rgba(37, 110, 218, 0.13);
      display: block;
    }
    &:after {
      content: "";
      background-image: url(../imgs/polygon.svg);
      width: 209px;
      height: 209px;
      right: -74px;
      bottom: -80px;
      -webkit-transform: rotate(-20deg);
      transform: rotate(-20deg);
      position: absolute;
      z-index: -1;
    }
    .nav-tabs {
      background: #eef5ff;
      border-radius: 15px 15px 0 0;
      border: 0;
      overflow: hidden;
      .nav-item {
        flex: 1;
        text-align: center;
        margin-bottom: 0;
        a {
          font-family: "Overpass", sans-serif;
          font-size: 16px;
          line-height: 104%;
          border: 0;
          padding: 27px 11px;
          display: block;
          color: rgba(#000, 0.4);
        }
        &.show .nav-link,
        .nav-link.active {
          color: #163665;
        }
      }
    }
    .tab-content {
      background-color: #fff;
      padding: 20px;
      border-radius: 0 0 15px 15px;
      min-height: 400px;
      .tab-pane {
        &#uploadFiles {
          border: 3px dashed rgba(37, 110, 218, 0.3);
          border-radius: 15px;
          padding: 20px;
        }
      }
    }
  }
}
// End Hero Content Section

/********************************************************************/
// file upload
.fileuploader {
  padding: 70px 0;
  h3.title {
    font-family: "Overpass", sans-serif;
    font-size: 16px;
    line-height: 119.7%;
    color: #163665;
    margin: 30px 0 20px;
  }
  #browse {
    padding: 0px 19px;
    font-size: 14px;
  }
}
.fileuploader.active {
  background: #eee;
}

/** Preview of collections of uploaded documents **/
.preview-container {
  position: relative;
  bottom: 0px;
  width: 35%;
  margin: auto;
  top: 25px;
  visibility: hidden;
}
.preview-container #previews {
  max-height: 400px;
  overflow: auto;
}
.preview-container #previews .zdrop-info {
  width: 88%;
  margin-right: 2%;
}
.preview-container #previews.collection {
  margin: 0;
  box-shadow: none;
}

.preview-container #previews.collection .collection-item {
  background-color: #e0e0e0;
}

.preview-container #previews.collection .actions a {
  width: 1.5em;
  height: 1.5em;
  line-height: 1;
}
.preview-container #previews.collection .actions a i {
  font-size: 1em;
  line-height: 1.6;
}
.preview-container #previews.collection .dz-error-message {
  font-size: 0.8em;
  margin-top: -12px;
  color: #f44336;
}

/*media queries*/

@media only screen and (max-width: 601px) {
  .fileuploader {
    width: 100%;
  }

  .preview-container {
    width: 100%;
  }
}
/********************************************************************/

// Start Features Section
.features {
  padding-top: 140px;
  padding-bottom: 115px;
  overflow: hidden;
  &-content {
    max-width: 1400px;
    margin: auto;
    position: relative;
    svg.polygon {
      position: absolute;
      top: -230px;
      right: -448px;
      z-index: -1;
    }
    .container {
      position: relative;
      .feat-1-shape {
        position: absolute;
        top: 244px;
        z-index: -1;
        left: -15px;
      }
      .feat-3-shape {
        position: absolute;
        bottom: -20px;
        z-index: -1;
        right: -45px;
      }
    }
  }
  &-title {
    font-weight: bold;
    font-size: 60px;
    line-height: 119.7%;
  }
  &-desc {
    max-width: 900px;
    color: #333333;
    margin: 20px auto 130px;
  }
  .feat {
    background: #ffffff;
    box-shadow: 0px 0px 64px rgba(84, 84, 84, 0.03);
    border-radius: 5px;
    padding: 0 45px 45px 45px;
    .image {
      width: 300px;
      height: 300px;
      display: flex;
      img {
        margin: auto;
      }
    }
    h3 {
      font-style: normal;
      font-weight: 800;
      font-size: 28px;
      line-height: 119.7%;
    }
    p {
      line-height: 139.7%;
      color: rgba(51, 51, 51, 0.6);
    }
  }
}
// End Features Section

// Start Numbers Section

.numbers {
  padding-top: 115px;
  .section-title {
    font-weight: bold;
    font-size: 60px;
    line-height: 104%;
    color: #333333;
    border-right: 1px solid rgba(22, 54, 101, 0.2);
  }
  .box {
    text-align: center;
    padding-top: 145px;
    padding-bottom: 160px;
    position: relative;
    h2 {
      background: linear-gradient(100.08deg, #163665 -4.65%, #256eda 115.99%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 900;
      font-size: 100px;
      line-height: 119.7%;
      text-align: center;
    }
    .h4 {
      font-size: 22px;
      line-height: 119.7%;
      text-align: center;
      color: #333333;
    }
    &.box-3 {
      h2 {
        background: linear-gradient(
          103.59deg,
          $primarColor -172.59%,
          #256eda 90.19%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: relative;
        display: inline-block;
        span {
          position: absolute;
          right: -40px;
          bottom: 35px;
          font-weight: normal;
          font-size: 30px;
          line-height: 119.7%;
          text-align: center;
          z-index: 1;
          display: block;
          -webkit-text-fill-color: rgba(51, 51, 51, 0.6);
        }
      }
      svg {
        position: absolute;
        top: 70px;
        right: 60px;
        z-index: -1;
      }
    }
    &.box-1 {
      &:after {
        content: "";
        position: absolute;
        width: 139px;
        height: 191px;
        background: rgba(182, 195, 255, 0.07);
        border-radius: 20px;
        top: 95px;
        right: 30px;
        z-index: -1;
      }
    }
    &.box-2 {
      &:after {
        content: "";
        position: absolute;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background: rgba(23, 60, 115, 0.08);
        top: 77px;
        right: 100px;
        z-index: -1;
      }
      svg {
        position: absolute;
        right: 27px;
        top: 170px;
        z-index: -1;
      }
    }
  }
}
// End Numbers Section

// Start Good Section
.good {
  padding-top: 160px;
  padding-bottom: 245px;
  overflow: hidden;
  &-content {
    max-width: 1400px;
    margin: auto;
    position: relative;
    svg {
      position: absolute;
    }
    .shape-1 {
      top: 20px;
      right: 203px;
    }
    .shape-2 {
      top: -140px;
      right: -120px;
    }
    .shape-3 {
      top: 0;
      left: -140px;
    }
  }
  h2 {
    font-weight: bold;
    font-size: 60px;
    line-height: 104%;
    color: #333333;
  }
  p {
    margin: 30px 0 40px;
  }
  a {
    padding: 15px 40px;
  }
}
// End Good Section

// Start Main Section
main {
  h1 {
    font-family: "Overpass", sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    padding: 125px 0 53px;
    color: #163665;
    max-width: 855px;
    margin: auto;
    @media #{$mobile} {
      font-size: 28px;
      line-height: 32px;
      text-align: left;
      padding: 110px 10px 35px 0;
    }
  }
  .alert {
    background: rgba(237, 90, 90, 0.08);
    border-radius: 10px;
    padding: 17px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    @media #{$mobile} {
      text-align: left;
      align-items: flex-start;
      padding: 14px 22px;
    }
    svg {
      margin-right: 22px;
      @media #{$tablet} {
        margin-right: 12px;
      }
    }
    p {
      line-height: 27px;
      color: #ed5a5a;

      @media #{$tablet} {
        font-size: 14px;
        line-height: 166%;
      }
      @media #{$mobile} {
        font-size: 12px;
        line-height: 166%;
        flex: 1;
      }
    }
  }
}
// End Main Section

// Start Steps Section
.steps {
  padding: 74px 0 142px;
  @media #{$tablet} {
    padding: 50px 0 70px;
  }
  @media #{$mobile} {
    padding: 39px 0 45px;
  }
  .steps-boxes {
    display: flex;
    @media #{$mobile} {
      flex-direction: column;
    }
    .box {
      margin: 8px;
      flex: 1;
      display: flex;
      @media #{$mobile} {
        &:not(:last-child) {
          margin: 0 0 30px 0;
        }
        &:last-child {
          margin: 0 0 40px 0;
        }
      }

      .box-content {
        background: #ffffff;
        box-shadow: 0px 0px 64px rgba(84, 84, 84, 0.05);
        border-radius: 4px;
        padding: 53px 42px 47px;
        text-align: center;
        @media #{$betweentabdesk} {
          padding: 45px 20px;
        }
        @media #{$tablet} {
          padding: 45px 20px;
          box-shadow: none;
        }
        @media #{$mobile} {
          padding: 40px 22px;
          width: 100%;
        }
      }

      .icon {
        width: 242px;
        height: 168px;
        margin: 0 auto 47px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media #{$mobile} {
          width: 222px;
          height: 150px;
          margin: 0 auto 44px;
          img {
            transform: scale(0.9);
          }
        }
        img {
          margin: auto;
        }
      }
      h3 {
        font-family: "Overpass", sans-serif;
        font-weight: 800;
        font-size: 28px;
        line-height: 34px;
        color: #163665;
        @media #{$maxTab} {
          font-size: 24px;
          line-height: 29px;
        }
      }
      p {
        font-size: 20px;
        line-height: 28px;
        color: rgba(51, 51, 51, 0.6);
        margin: 23px 0 39px;
        @media #{$betweentabdesk} {
          font-size: 18px;
        }
        @media #{$maxTab} {
          font-size: 16px;
          line-height: 22px;
          margin: 16px 0 27px;
          &.second-p {
            max-width: 210px;
            margin: 16px auto 27px;
          }
        }
      }
      .btn {
        background: $primarColor;
        border-radius: 5px;
        padding: 20px 25px;
        font-family: "Overpass", sans-serif;
        font-weight: bold;
        font-size: 20px;
        line-height: 31px;
        color: #ffffff;
        text-decoration: none;
        display: inline-block;
        line-height: 1;
      }
    }
  }
  @media (min-width: 768px) and (max-width: 992px) {
    .scrolled {
      max-width: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
    }
    .sm-scrolled {
      width: auto;
      padding: 0 40px;
      flex-wrap: nowrap;
      overflow: auto;
      .box {
        max-width: 100%;
        .box-content {
          width: 280px;
          &.last {
            margin-right: 40px;
          }
        }
      }
    }
  }
}
// End Steps Section

// Start Footer Section
footer {
  padding: 80px 0 110px;
  &.download-manager {
    background: #f0f4fb;
  }
  @media #{$tablet} {
    padding: 60px 0 80px;
  }
  @media #{$mobile} {
    padding: 55px 0;
  }
  .columns {
    display: flex;
    @media #{$tablet} {
      flex-wrap: wrap;
    }
    @media #{$mobile} {
      flex-direction: column;
    }
    .column {
      &.one {
        flex: 1.5;
      }
      &.two,
      &.three {
        flex: 1;
      }
      .logo {
        a {
          display: inline-block;
        }
        @media #{$mobile} {
          img {
            width: 140px;
          }
        }
      }
      .copyright {
        font-family: "Lato", sans-serif;
        font-size: 14px;
        line-height: 38px;
        text-transform: uppercase;
        color: rgba(51, 51, 51, 0.7);
        margin-top: 10px;
        @media #{$mobile} {
          font-size: 10px;
          margin-top: 0;
        }
      }
      h3 {
        font-family: "Overpass", sans-serif;
        font-weight: 600;
        font-size: 28px;
        line-height: 34px;
        color: $primarColor;
        margin-bottom: 20px;
        @media #{$mobile} {
          font-size: 24px;
          line-height: 29px;
        }
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          &:not(:last-child) {
            margin-bottom: 20px;
          }

          a {
            display: inline-block;
            text-decoration: none;
            color: $primarColor;
            @media #{$mobile} {
              font-size: 14px;
              line-height: 24px;
            }
          }
        }
      }
      @media #{$betweentabdesk} {
        &.one {
          flex: 1.5;
        }
      }
      @media #{$tablet} {
        flex: auto;
        &.two,
        &.three {
          width: 50%;
          margin-bottom: 55px;
        }
        &.one {
          width: 100%;
          order: 3;
        }
      }
      @media #{$mobile} {
        &.one {
          order: 3;
        }
        &:not(:first-child) {
          margin-bottom: 44px;
        }
      }
    }
  }
}
// End Footer Section
