$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 991px)";
$maxTab: "(max-width: 991px)";
$betweentabdesk: "(min-width: 1000px) and (max-width: 1200px)";
$primarColor: #173c73;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 27px;
  color: rgba(51, 51, 51, 0.6);
  @media #{$tablet} {
    background-color: #f9f9f9;
  }
  &.login-body {
    height: 100vh;
    position: relative;
    width: 100%;
  }
}

body.overlay {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

body.overlay:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(#000, 0.5);
  z-index: 1;
  margin: 0;
  overflow: hidden;
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4 {
  font-family: "Overpass", sans-serif;
  color: #163665;
}

.container {
  margin: auto;
  padding: 0 15px;
  @media (min-width: 576px) {
    max-width: 540px;
  }
  @media (max-width: 576px) {
    width: 100%;
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    max-width: 720px;
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    max-width: 960px;
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
  @media #{$mobile} {
    padding: 0 25px;
  }
}

.primary--btn {
  font-family: "Overpass", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 31px;
  color: #ffffff;
  background: $primarColor;
  border-radius: 5px;
  padding: 14px 27px;
  display: inline-block;
  &:hover {
    color: #fff;
  }
}

.logo {
  > span {
    font-family: "Overpass", sans-serif;
    font-weight: bold;
    font-size: 37px;
    line-height: 130.2%;
    letter-spacing: -0.06em;
    color: #163665;
    @media #{$mobile} {
      font-size: 25px;
      line-height: 130.2%;
      color: #fff;
    }
    span {
      font-weight: 900;
      text-transform: uppercase;
      color: #256eda;
    }
  }
  &.white {
    > span {
      color: #fff;
    }
  }
}

// Start Header Section
.wrapper {
  position: relative;
  background: #fcfcfc;
  overflow: hidden;
  @media #{$mobile} {
    background: none;
    overflow: visible;
  }
  &:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 37%;
    height: 100%;
    z-index: 0;
    background: radial-gradient(
      84.85% 84.85% at 121.56% -22.78%,
      $primarColor 0%,
      #06172f 100%
    );
    @media #{$mobile} {
      display: none;
    }
  }
  .container.overlay {
    position: relative;
    padding: 0;
    &:after {
      position: absolute;
      content: "";
      display: block;
      top: 0;
      right: -230px;
      width: 650px;
      height: 100%;
      z-index: 0;
      background: #06172f;
      @media #{$mobile} {
        height: auto;
        bottom: 160px;
        right: 0;
        background: radial-gradient(
          84.85% 84.85% at 121.56% -22.78%,
          $primarColor 0%,
          #06172f 100%
        );
      }
    }
  }
}

header {
  .navbar {
    padding: 30px 0;
    .container {
      padding: 0 15px;
      @media #{$maxTab} {
        padding: 0 25px;
      }
    }
    @media #{$maxTab} {
      padding: 28px 0;
      position: absolute;
      width: 100%;
    }

    .navbar-collapse {
      @media (min-width: 992px) {
        flex: none;
      }
      @media #{$maxTab} {
        padding-top: 20px;
        flex-grow: 1;
      }
    }
    &.navbar-show-mobile {
      background-color: #0f1324 !important;
      position: fixed !important;
    }
    &.nav-fixed {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background: rgba(11, 12, 34, 0.9);
      background-blend-mode: darken;
      animation: q 0.65s cubic-bezier(0.23, 1, 0.32, 1) both;
      .logo {
        > span {
          color: #fff;
        }
      }
      @media #{$maxTab} {
        background: #0b0c22;
        background-blend-mode: darken;
        box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.25);
      }

      @keyframes q {
        0% {
          transform: translateY(-100%);
        }
        100% {
          transform: translateY(0);
        }
      }
    }
  }
  @media #{$maxTab} {
    .toggler {
      display: inline-block;
      cursor: pointer;
      padding: 5px;
      .bar1,
      .bar2,
      .bar3 {
        width: 20px;
        height: 2px;
        background-color: #fff;
        margin: 4px 0;
        transition: 0.4s;
      }
    }
    .change .bar1 {
      transform: rotate(-45deg) translate(-3px, 5px);
    }
    .change .bar2 {
      opacity: 0;
    }

    .change .bar3 {
      transform: rotate(45deg) translate(-3px, -6px);
    }
  }
  .navbar-nav {
    align-items: center;
    &.login-btns {
      @media #{$maxTab} {
        flex-direction: row;
        margin-top: 25px;
        justify-content: space-between;
      }
      li {
        a {
          &.active {
            color: #256eda;
            svg {
              path {
                stroke: #256eda;
              }
            }
          }
        }
      }
    }
    .nav-item {
      &.make-money {
        @media #{$maxTab} {
          padding: 15px 0px;
          border-top: 1px solid rgba(44, 82, 198, 0.2);
          border-bottom: 1px solid rgba(44, 82, 198, 0.2);
          display: block;
          width: 100%;
        }
      }
      a {
        font-family: "Overpass", sans-serif;
        font-weight: bold;
        font-size: 20px;
        line-height: 31px;
        color: rgba(255, 255, 255, 0.8);
        display: inline-block;

        &.login-btn {
          margin-right: 33px;
          margin-left: 45px;
          background: #ffffff;
          border: 1px solid #fff;
          border-radius: 5px;
          height: 45px;
          line-height: 45px;
          width: 115px;
          color: $primarColor;
          text-align: center;
        }
        @media #{$maxTab} {
          &.register,
          &.login-btn {
            height: 50px;
            line-height: 50px;
            width: 135px;
            font-size: 18px;
            margin: 0;
          }
          &.register {
            border: 1px solid #fff;
            text-align: center;
            border-radius: 5px;
          }
        }
      }
    }
  }
  &.login-header {
    .navbar-nav .nav-item a {
      color: #163665;
      @media #{$tablet} {
        color: #fff;
        font-size: 16px;
        width: 200px;
      }
      @media #{$mobile} {
        color: #fff;
        font-size: 16px;
        width: 100%;
      }
    }
    .navbar.navbar-show-mobile {
      .toggler .bar1,
      .toggler .bar2,
      .toggler .bar3 {
        @media #{$tablet} {
          background-color: #fff;
        }
      }
    }
    .toggler .bar1,
    .toggler .bar2,
    .toggler .bar3 {
      @media #{$tablet} {
        background-color: #06172f;
      }
    }
    &.register-header {
      .toggler .bar1,
      .toggler .bar2,
      .toggler .bar3 {
        @media #{$tablet} {
          background-color: #fff;
        }
      }
    }
    .nav-fixed {
      .toggler .bar1,
      .toggler .bar2,
      .toggler .bar3 {
        @media #{$tablet} {
          background-color: #fff;
        }
      }
    }
  }
  .navbar-nav {
    &.nav-links {
      li {
        margin-left: 35px;
        @media #{$betweentabdesk} {
          margin-left: 25px;
        }
        @media #{$maxTab} {
          margin-left: 0;
        }
      }
    }
    @media #{$mobile} {
      &.login-btns {
        li {
          width: 48%;
        }
      }
    }

    .nav-item {
      a {
        text-transform: uppercase;
        @media #{$betweentabdesk} {
          font-size: 16px;
        }
        svg {
          margin-right: 6px;
          position: relative;
          top: -2px;
          @media #{$maxTab} {
            &.register-icon {
              path {
                stroke: #fff;
              }
            }
          }
        }
      }
      @media #{$mobile} {
        &.make-money {
          border-top: 1px solid rgba(44, 82, 198, 0.2);
          border-bottom: 1px solid rgba(44, 82, 198, 0.2);
          margin-left: 0;
          &:last-of-type {
            border-top: 0;
            border-bottom: 1px solid rgba(44, 82, 198, 0.2);
          }
        }
      }
    }
    .nav-item a.login-btn {
      margin-right: 35px;
      margin-left: 35px;
      @media #{$betweentabdesk} {
        width: auto;
      }
      @media #{$maxTab} {
        margin: 0;
      }
      @media #{$maxTab} {
        &.register-page {
          color: #163665;
        }
      }
    }
  }
}
// End Header Section

// Start Hero Content Section
.hero-content {
  padding-top: 140px;
  padding-bottom: 150px;
  position: relative;
  z-index: 1;
  @media #{$maxTab} {
    padding-bottom: 0;
  }
  @media #{$mobile} {
    padding-top: 190px;
  }
  .container {
    padding: 0 15px;
    @media #{$maxTab} {
      padding: 0 25px;
    }
  }

  .hero-left {
    @media #{$mobile} {
      margin-bottom: 60px;
    }
    h1.hero-title {
      font-weight: bold;
      font-size: 70px;
      line-height: 104%;
      @media #{$mobile} {
        font-size: 42px;
        line-height: 104%;
        color: #fff;
      }
    }
    p {
      max-width: 360px;
      margin: 20px 0 50px;
      @media #{$mobile} {
        font-size: 14px;
        line-height: 166%;
        color: #fff;
      }
    }
    .discover-more {
      @media #{$mobile} {
        background: #fff;
        width: 150px;
        height: 50px;
        line-height: 50px;
        font-size: 18px;
        color: #333;
        padding: 0;
        text-align: center;
      }
    }
  }
  .hero-right {
    position: relative;
    box-shadow: 5px 9px 26px rgba(33, 83, 213, 0.2);
    border-radius: 15px;
    overflow: hidden;
    &:before {
      content: "";
      position: absolute;
      width: 241px;
      height: 241px;
      border-radius: 50%;
      left: -75px;
      top: -85px;
      z-index: -1;
      border: 1px solid rgba(37, 110, 218, 0.13);
      display: block;
    }
    &:after {
      content: "";
      background-image: url(../imgs/polygon.svg);
      width: 209px;
      height: 209px;
      right: -74px;
      bottom: -80px;
      -webkit-transform: rotate(-20deg);
      transform: rotate(-20deg);
      position: absolute;
      z-index: -1;
    }
    .nav-tabs {
      background: #eef5ff;
      border-radius: 15px 15px 0 0;
      border: 0;
      overflow: hidden;
      .nav-item {
        flex: 1;
        text-align: center;
        margin-bottom: 0;
        a {
          font-family: "Overpass", sans-serif;
          font-size: 16px;
          line-height: 104%;
          border: 0;
          padding: 27px 11px;
          display: block;
          color: rgba(#000, 0.4);
        }
        &.show .nav-link,
        .nav-link.active {
          color: #163665;
        }
      }
    }
    .tab-content {
      background-color: #fff;
      padding: 20px;
      border-radius: 0 0 15px 15px;
      min-height: 400px;
      max-height: 400px;
      overflow: auto;
      &::-webkit-scrollbar-thumb {
        background: #256eda;
        border-radius: 40px;
      }
      &::-webkit-scrollbar-track {
        background: #fff;
      }
      &::-webkit-scrollbar {
        width: 6px;
      }
      .tab-pane {
        .copyFiles-content {
          h4 {
            font-size: 12px;
            line-height: 104%;
            color: #333333;
            span {
              font-size: 12px;
              line-height: 104%;
              float: right;
              color: rgba(51, 51, 51, 0.6);
            }
          }
          textarea {
            width: 100%;
            min-height: 265px;
            border: 0.2px solid #c6c7c7;
            border-radius: 3px;
            padding: 20px;
            transition: all 0.3s ease-in-out;
            &::-webkit-scrollbar-thumb {
              background: rgba(179, 179, 179, 0.4);
              border-radius: 40px;
            }
            &::-webkit-scrollbar-track {
              background: #fff;
            }
            &::-webkit-scrollbar {
              width: 4px;
            }
            &:hover {
              box-shadow: 3px 3px 9px #f3e7e7;
            }
            &:focus {
              outline: none;
              border: 0.5px solid #96a1ac;
            }
          }
          .bottom {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            align-items: center;
            input {
              user-select: none;
              margin-right: 5px;
              position: relative;
              cursor: pointer;
              &:after {
                position: absolute;
                top: -1px;
                left: -1px;
                content: "";
                width: 14px;
                height: 14px;
                z-index: 1;
                border: 2px inset #000;
                border-radius: 4px;
              }
            }
            label {
              font-family: "Overpass", sans-serif;
              font-size: 14px;
              line-height: 104%;
              color: #333333;
              user-select: none;
              a {
                font-weight: bold;
                color: #256eda;
              }
            }
            > a {
              padding: 17px 43px;
              line-height: 1;
              font-size: 14px;
            }
          }
        }

        .form-group {
          &.last {
            margin-bottom: 0;
          }
          label {
            font-family: "Overpass", sans-serif;
            font-size: 12px;
            line-height: 104%;
            color: #333333;
            display: block;
          }
          input {
            color: #333333;
            padding: 11px 20px 16px;
            line-height: 1;
            width: 100%;
            border: 0.2px solid #ccc;
            border-radius: 3px;
            outline: none;
            min-height: 48px;
            &:focus {
              border: 0.5px solid #96a1ac;
            }
            &::placeholder {
              font-family: "Overpass";
              font-size: 12px;
              // line-height: 104%;
              color: rgba(51, 51, 51, 0.4);
            }
          }
          select {
            width: 100%;
            padding: 12px 20px;
            outline: none;
            border: 0.2px solid #ccc;
            border-radius: 3px;
          }
        }

        &#remoteUpload {
          .remoteUpload-content {
            textarea {
              min-height: 87px;
            }
          }
        }
        &#copyFiles {
          .copyFiles-content {
            h4 {
              font-size: 12px;
              line-height: 104%;
              color: #333333;
              span {
                font-size: 12px;
                line-height: 104%;
                float: right;
                color: rgba(51, 51, 51, 0.6);
              }
            }
            textarea {
              width: 100%;
              min-height: 265px;
              border: 0.2px solid #c6c7c7;
              border-radius: 3px;
              padding: 20px;
              transition: all 0.3s ease-in-out;
              &::-webkit-scrollbar-thumb {
                background: rgba(179, 179, 179, 0.4);
                border-radius: 40px;
              }
              &::-webkit-scrollbar-track {
                background: #fff;
              }
              &::-webkit-scrollbar {
                width: 4px;
              }
              &:hover {
                box-shadow: 3px 3px 9px #f3e7e7;
              }
              &:focus {
                outline: none;
                border: 0.5px solid #96a1ac;
              }
            }
            .bottom {
              display: flex;
              justify-content: space-between;
              margin-top: 10px;
              align-items: center;
              input {
                user-select: none;
                margin-right: 5px;
                position: relative;
                cursor: pointer;
                &:after {
                  position: absolute;
                  top: -1px;
                  left: -1px;
                  content: "";
                  width: 14px;
                  height: 14px;
                  z-index: 1;
                  border: 2px inset #000;
                  border-radius: 4px;
                }
              }
              label {
                font-family: "Overpass", sans-serif;
                font-size: 14px;
                line-height: 104%;
                color: #333333;
                user-select: none;
                a {
                  font-weight: bold;
                  color: #256eda;
                }
              }
              > a {
                padding: 17px 43px;
                line-height: 1;
                font-size: 14px;
              }
            }
          }
        }
        &#torrentLeach {
          position: relative;
          text-align: center;
          min-height: 360px;

          .torrentLeach-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          svg {
            position: absolute;
            right: -85px;
            top: -165px;
          }
          h3 {
            font-size: 21px;
            line-height: 119.7%;
            color: #333333;
            width: 360px;
            margin-bottom: 20px;
          }
          a {
            font-size: 14px;
            padding: 9px 16px;
            line-height: 1;
          }
        }
      }
    }
  }
}
// End Hero Content Section

/********************************************************************/
// file upload
.fileuploader {
  position: relative;
  height: 350px;
  border: 3px dashed rgba(37, 110, 218, 0.3);
  border-radius: 15px;

  .form-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 20px;
  }
  h3.title {
    font-family: "Overpass", sans-serif;
    font-size: 16px;
    line-height: 119.7%;
    color: #163665;
    margin: 30px 0 20px;
  }
  #browse {
    padding: 0px 19px;
    font-size: 14px;
    border: 0;
  }
}
.fileuploader.active {
  background: #eee;
}

/** Preview of collections of uploaded documents **/
.preview-container {
  display: none;
  .files-upload {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left-side {
      display: flex;
      align-items: center;
      .icon {
        margin-right: 20px;
        position: relative;
        top: -5px;
      }
      .info {
        h4 {
          font-weight: bold;
          font-size: 16px;
          line-height: 104%;
          color: #333333;
          margin-bottom: 0;
        }
        span {
          font-family: "Overpass", sans-serif;
          font-size: 14px;
          line-height: 104%;
          color: rgba(51, 51, 51, 0.5);
          display: inline-block;
        }
      }
    }
    .right-side {
      display: flex;
      align-items: center;
      label {
        font-family: "Overpass", sans-serif;
        font-size: 14px;
        line-height: 104%;
        color: #333333;
        margin-left: 10px;
        margin-bottom: 0;
      }
      input {
        position: relative;
        top: -1px;
      }
      a {
        background: #dfdfdf;
        border-radius: 5px;
        padding: 7px 8px;
        margin-left: 25px;
      }
    }
  }
  #add-more {
    padding-bottom: 20px;
  }
  .add-more-content {
    text-align: center;
    margin: 25px 0 35px;
    a {
      font-family: "Overpass", sans-serif;
      font-weight: bold;
      font-size: 14px;
      line-height: 1;
      text-align: center;
      color: #333333;
      padding: 10px 17px 6px;
      border: 1px solid #256eda;
      border-radius: 5px;
      display: inline-block;
    }
  }
  a.upload {
    font-family: "Overpass", sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    width: 100%;
    height: 48px;
    line-height: 48px;
    padding: 0;
  }
}

.preview-container #previews.collection .collection-item {
  background: #f7f7f7;
  border-radius: 10px;
  padding: 18px 18px 18px 25px;
  margin-bottom: 10px;
}

/********************************************************************/

// Start Features Section
.features {
  padding-top: 140px;
  padding-bottom: 115px;
  overflow: hidden;
  &-content {
    max-width: 1400px;
    margin: auto;
    position: relative;
    svg.polygon {
      position: absolute;
      top: -230px;
      right: -448px;
      z-index: -1;
    }
    .container {
      position: relative;
      .feat-1-shape {
        position: absolute;
        top: 244px;
        z-index: -1;
        left: -15px;
      }
      .feat-3-shape {
        position: absolute;
        bottom: -20px;
        z-index: -1;
        right: -45px;
      }
    }
  }
  &-title {
    font-weight: bold;
    font-size: 60px;
    line-height: 119.7%;
  }
  &-desc {
    max-width: 900px;
    color: #333333;
    margin: 20px auto 130px;
  }
  .feat {
    background: #ffffff;
    box-shadow: 0px 0px 64px rgba(84, 84, 84, 0.03);
    border-radius: 5px;
    padding: 0 45px 45px 45px;
    .image {
      width: 300px;
      height: 300px;
      display: flex;
      img {
        margin: auto;
      }
    }
    h3 {
      font-style: normal;
      font-weight: 800;
      font-size: 28px;
      line-height: 119.7%;
    }
    p {
      line-height: 139.7%;
      color: rgba(51, 51, 51, 0.6);
    }
  }
}
// End Features Section

// Start Numbers Section

.numbers {
  padding-top: 115px;
  .section-title {
    font-weight: bold;
    font-size: 60px;
    line-height: 104%;
    color: #333333;
    border-right: 1px solid rgba(22, 54, 101, 0.2);
  }
  .box {
    text-align: center;
    padding-top: 145px;
    padding-bottom: 160px;
    position: relative;
    h2 {
      background: linear-gradient(100.08deg, #163665 -4.65%, #256eda 115.99%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 900;
      font-size: 100px;
      line-height: 119.7%;
      text-align: center;
    }
    .h4 {
      font-size: 22px;
      line-height: 119.7%;
      text-align: center;
      color: #333333;
    }
    &.box-3 {
      h2 {
        background: linear-gradient(
          103.59deg,
          $primarColor -172.59%,
          #256eda 90.19%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: relative;
        display: inline-block;
        span {
          position: absolute;
          right: -40px;
          bottom: 35px;
          font-weight: normal;
          font-size: 30px;
          line-height: 119.7%;
          text-align: center;
          z-index: 1;
          display: block;
          -webkit-text-fill-color: rgba(51, 51, 51, 0.6);
        }
      }
      svg {
        position: absolute;
        top: 70px;
        right: 60px;
        z-index: -1;
      }
    }
    &.box-1 {
      &:after {
        content: "";
        position: absolute;
        width: 139px;
        height: 191px;
        background: rgba(182, 195, 255, 0.07);
        border-radius: 20px;
        top: 95px;
        right: 30px;
        z-index: -1;
      }
    }
    &.box-2 {
      &:after {
        content: "";
        position: absolute;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background: rgba(23, 60, 115, 0.08);
        top: 77px;
        right: 100px;
        z-index: -1;
      }
      svg {
        position: absolute;
        right: 27px;
        top: 170px;
        z-index: -1;
      }
    }
  }
}
// End Numbers Section

// Start Good Section
.good {
  padding-top: 160px;
  padding-bottom: 245px;
  overflow: hidden;
  &-content {
    max-width: 1400px;
    margin: auto;
    position: relative;
    svg {
      position: absolute;
    }
    .shape-1 {
      top: 20px;
      right: 203px;
    }
    .shape-2 {
      top: -140px;
      right: -120px;
    }
    .shape-3 {
      top: 0;
      left: -140px;
    }
  }
  h2 {
    font-weight: bold;
    font-size: 60px;
    line-height: 104%;
    color: #333333;
  }
  p {
    margin: 30px 0 40px;
  }
  a {
    padding: 15px 40px;
  }
}
// End Good Section

// Start Main Section
main {
  h1 {
    font-family: "Overpass", sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    padding: 125px 0 53px;
    color: #163665;
    max-width: 855px;
    margin: auto;
    @media #{$mobile} {
      font-size: 28px;
      line-height: 32px;
      text-align: left;
      padding: 110px 10px 35px 0;
    }
  }
  .alert {
    background: rgba(237, 90, 90, 0.08);
    border-radius: 10px;
    padding: 17px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    @media #{$mobile} {
      text-align: left;
      align-items: flex-start;
      padding: 14px 22px;
    }
    svg {
      margin-right: 22px;
      @media #{$tablet} {
        margin-right: 12px;
      }
    }
    p {
      line-height: 27px;
      color: #ed5a5a;

      @media #{$tablet} {
        font-size: 14px;
        line-height: 166%;
      }
      @media #{$mobile} {
        font-size: 12px;
        line-height: 166%;
        flex: 1;
      }
    }
  }
}
// End Main Section

// Start Steps Section
.steps {
  padding: 74px 0 142px;
  @media #{$tablet} {
    padding: 50px 0 70px;
  }
  @media #{$mobile} {
    padding: 39px 0 45px;
  }
  .steps-boxes {
    display: flex;
    @media #{$mobile} {
      flex-direction: column;
    }
    .box {
      margin: 8px;
      flex: 1;
      display: flex;
      @media #{$mobile} {
        &:not(:last-child) {
          margin: 0 0 30px 0;
        }
        &:last-child {
          margin: 0 0 40px 0;
        }
      }

      .box-content {
        background: #ffffff;
        box-shadow: 0px 0px 64px rgba(84, 84, 84, 0.05);
        border-radius: 4px;
        padding: 53px 42px 47px;
        text-align: center;
        @media #{$betweentabdesk} {
          padding: 45px 20px;
        }
        @media #{$tablet} {
          padding: 45px 20px;
          box-shadow: none;
        }
        @media #{$mobile} {
          padding: 40px 22px;
          width: 100%;
        }
      }

      .icon {
        width: 242px;
        height: 168px;
        margin: 0 auto 47px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media #{$mobile} {
          width: 222px;
          height: 150px;
          margin: 0 auto 44px;
          img {
            transform: scale(0.9);
          }
        }
        img {
          margin: auto;
        }
      }
      h3 {
        font-family: "Overpass", sans-serif;
        font-weight: 800;
        font-size: 28px;
        line-height: 34px;
        color: #163665;
        @media #{$maxTab} {
          font-size: 24px;
          line-height: 29px;
        }
      }
      p {
        font-size: 20px;
        line-height: 28px;
        color: rgba(51, 51, 51, 0.6);
        margin: 23px 0 39px;
        @media #{$betweentabdesk} {
          font-size: 18px;
        }
        @media #{$maxTab} {
          font-size: 16px;
          line-height: 22px;
          margin: 16px 0 27px;
          &.second-p {
            max-width: 210px;
            margin: 16px auto 27px;
          }
        }
      }
      .btn {
        background: $primarColor;
        border-radius: 5px;
        padding: 20px 25px;
        font-family: "Overpass", sans-serif;
        font-weight: bold;
        font-size: 20px;
        line-height: 31px;
        color: #ffffff;
        text-decoration: none;
        display: inline-block;
        line-height: 1;
      }
    }
  }
  @media (min-width: 768px) and (max-width: 992px) {
    .scrolled {
      max-width: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
    }
    .sm-scrolled {
      width: auto;
      padding: 0 40px;
      flex-wrap: nowrap;
      overflow: auto;
      .box {
        max-width: 100%;
        .box-content {
          width: 280px;
          &.last {
            margin-right: 40px;
          }
        }
      }
    }
  }
}
// End Steps Section

// Start Footer Section
footer {
  padding: 80px 0 110px;
  &.footer-blue {
    background: #f0f4fb;
  }
  @media #{$tablet} {
    padding: 60px 0 80px;
  }
  @media #{$mobile} {
    padding: 55px 0;
  }
  .columns {
    display: flex;
    @media #{$tablet} {
      flex-wrap: wrap;
    }
    @media #{$mobile} {
      flex-direction: column;
    }
    .column {
      &.one {
        flex: 1.5;
      }
      &.two,
      &.three {
        flex: 1;
      }
      .logo {
        a {
          display: inline-block;
        }
        @media #{$mobile} {
          img {
            width: 140px;
          }
        }
      }
      .copyright {
        font-family: "Lato", sans-serif;
        font-size: 14px;
        line-height: 38px;
        text-transform: uppercase;
        color: rgba(51, 51, 51, 0.7);
        margin-top: 10px;
        @media #{$mobile} {
          font-size: 10px;
          margin-top: 0;
        }
      }
      h3 {
        font-family: "Overpass", sans-serif;
        font-weight: 600;
        font-size: 28px;
        line-height: 34px;
        color: $primarColor;
        margin-bottom: 20px;
        @media #{$mobile} {
          font-size: 24px;
          line-height: 29px;
        }
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          &:not(:last-child) {
            margin-bottom: 20px;
          }

          a {
            display: inline-block;
            text-decoration: none;
            color: $primarColor;
            @media #{$mobile} {
              font-size: 14px;
              line-height: 24px;
            }
          }
        }
      }
      @media #{$betweentabdesk} {
        &.one {
          flex: 1.5;
        }
      }
      @media #{$tablet} {
        flex: auto;
        &.two,
        &.three {
          width: 50%;
          margin-bottom: 55px;
        }
        &.one {
          width: 100%;
          order: 3;
        }
      }
      @media #{$mobile} {
        &.one {
          order: 3;
        }
        &:not(:first-child) {
          margin-bottom: 44px;
        }
      }
    }
  }
}
// End Footer Section

.select2-search--dropdown {
  display: none;
}
.select2-container {
  display: block;
  width: auto !important;
}
.select2-container--default .select2-selection--single {
  height: 100%;
  outline: none;
  border: 0.2px solid #ccc;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 46px;
}

.register-form {
  .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    line-height: 60px;
    @media #{$maxTab} {
      line-height: 50px;
    }
  }
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  top: 55%;
  transform: translateY(-50%);
  right: 11px;
  background-image: url(../imgs/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: center;
  transform-origin: center;
  transition: all 0.3s ease-in-out;
  b {
    display: none;
  }
}

.select2-container--default
  .select2-selection--single
  .select2-selection__placeholder {
  font-family: "Overpass", sans-serif;
  font-size: 12px;
  line-height: 1;
  color: rgba(51, 51, 51, 0.4);
}

// File Uploaded Page
.header-wrapper {
  background: url(../imgs/fileUpload-bg.png) center center no-repeat;
  background-size: cover;
  @media #{$mobile} {
    background-image: url(../imgs/fileUpload-bg-m.png);
  }
  header {
    .navbar {
      .logo {
        > span {
          color: #fff;
        }
      }
      .navbar-nav {
        &.nav-links {
          li {
            margin-left: 35px;
            @media #{$mobile} {
              margin-left: 0;
            }
          }
        }
        @media #{$mobile} {
          &.login-btns {
            li {
              a {
                width: 150px;
              }
            }
          }
        }

        .nav-item {
          a {
            text-transform: uppercase;
            color: #fff;
            svg {
              margin-right: 6px;
              position: relative;
              top: -2px;
            }
          }
          @media #{$mobile} {
            &.make-money {
              border-top: 1px solid rgba(44, 82, 198, 0.2);
              border-bottom: 1px solid rgba(44, 82, 198, 0.2);
              margin-left: 0;
              &:last-of-type {
                border-top: 0;
                border-bottom: 1px solid rgba(44, 82, 198, 0.2);
              }
            }
          }
        }
        .nav-item a.login-btn {
          font-weight: 900;
          font-size: 20px;
          color: #256eda;
          height: 53px;
          line-height: 53px;
          width: 144px;
        }
      }
    }
  }

  h2 {
    padding: 60px 0 130px;
    font-weight: bold;
    font-size: 40px;
    line-height: 119.7%;
    margin-bottom: 0;
    color: #ffffff;
    @media #{$mobile} {
      padding: 150px 0 390px;
    }
  }
}

.file-info {
  margin-top: -65px;
  @media #{$mobile} {
    margin-top: -360px;
  }

  .download-info {
    background: #f0f4fb;
    border-radius: 10px;
    padding: 35px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media #{$mobile} {
      border-radius: 10px 10px 0 0;
      padding: 25px 20px;
      flex-wrap: wrap;
    }
    .desc {
      display: flex;
      align-items: center;
      svg {
        margin-right: 25px;
        @media #{$mobile} {
          margin-right: 15px;
        }
      }
      .name {
        h4 {
          font-weight: bold;
          font-size: 32px;
          line-height: 104%;
          color: #163665;
          margin-bottom: 5px;
          @media #{$mobile} {
            font-size: 21px;
            line-height: 104%;
            margin-bottom: 0;
          }
        }
        span {
          color: rgba(22, 54, 101, 0.6);
          @media #{$mobile} {
            font-size: 12px;
            line-height: 104%;
          }
        }
      }
    }
    .download {
      .copy-btn {
        font-size: 16px;
        padding: 12px 30px;
        svg {
          margin-right: 5px;
        }
      }
      .download-btn {
        width: 60px;
        height: 55px;
        line-height: 55px;
        border-radius: 5px;
        border: 1px solid #256eda;
        display: inline-block;
        text-align: center;
        margin-left: 25px;
        @media #{$mobile} {
          width: 47px;
          height: 47px;
          line-height: 47px;
        }
        svg {
          position: relative;
          top: -3px;
          @media #{$mobile} {
            width: 25px;
          }
        }
      }
    }
    .copy-button {
      padding-top: 20px;
      margin-top: 20px;
      border-top: 1px solid #ccc;
      width: 100%;
      a {
        width: 100%;
        text-align: center;
        font-size: 14px;
      }
    }
  }
}

.download-links {
  padding: 45px 0 110px;
  @media #{$mobile} {
    padding: 0 0 70px;
  }
  .download-links-content {
    @media #{$mobile} {
      background-color: #fff;
      box-shadow: 0px 4px 26px rgba(33, 83, 212, 0.2);
      border-radius: 0px 0px 10px 10px;
      padding: 32px 22px 50px;
    }
  }

  h2 {
    font-weight: bold;
    font-size: 25px;
    line-height: 119.7%;
    color: #163665;
    margin-bottom: 50px;
    @media #{$mobile} {
      margin-bottom: 30px;
      font-size: 16px;
    }
  }
  .link {
    margin-bottom: 32px;
    h4 {
      font-weight: 600;
      font-size: 16px;
      line-height: 104%;
      color: #163665;
      margin-bottom: 16px;
      @media #{$mobile} {
        font-size: 12px;
        margin-bottom: 10px;
      }
    }
    div {
      display: flex;
      align-items: center;
      input {
        flex: 1;
        padding: 19px 20px;
        font-family: "Overpass", sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 104%;
        background: #ffffff;
        border: 0.2px solid #ccc;
        border-radius: 5px;
        color: #000000;
        outline: none;
        @media #{$mobile} {
          font-size: 12px;
          padding: 17px 16px;
        }
      }
      button {
        width: 186px;
        height: 55px;
        line-height: 55px;
        border: 1px solid #256eda;
        border-radius: 5px;
        font-family: "Overpass", sans-serif;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        color: #163665;
        margin-left: 25px;
        background-color: #fff;
        outline: none;
        @media #{$mobile} {
          margin-left: 12px;
          width: 50px;
          height: 50px;
          line-height: 50px;
        }
      }
    }
  }
}

// login page

body.login-body {
  &:after {
    content: "";
    position: absolute;
    width: 43%;
    height: 100vh;
    z-index: -1;
    background: rgb(19, 48, 92);
    top: 0;
    padding: 0;
    @media #{$mobile} {
      display: none;
    }
  }
  &:before {
    content: "";
    position: absolute;
    left: 0;
    width: 50%;
    bottom: 0;
    z-index: 0;
    background: url(../imgs/login-shapes.png);
    background-size: cover;
    height: 63%;
    @media #{$mobile} {
      display: none;
    }
    @media #{$tablet} {
      width: 43%;
    }
    @media #{$betweentabdesk} {
      width: 43%;
    }
  }
  &.register-body {
    @media #{$tablet} {
      &:after,
      &:before {
        width: 100%;
      }
      &:after {
        background: linear-gradient(162.01deg, #163665 3.01%, #06172f 101.28%);
      }
    }
  }
}
.login-overlay {
  position: relative;
  padding: 0;
  @media #{$maxTab} {
    max-width: 100%;
  }
  @media #{$mobile} {
    padding-bottom: 60px;
  }

  .overlay {
    position: absolute;
    left: 0;
    width: 510px;
    top: 0;
    z-index: -1;
    height: 100%;
    background: rgb(19, 48, 92);
    @media #{$betweentabdesk} {
      width: 450px;
    }
    &.register-page {
      @media #{$betweentabdesk} {
        display: none;
      }
      @media #{$mobile} {
        bottom: 820px;
      }
    }

    @media #{$tablet} {
      display: none;
    }
    @media #{$mobile} {
      background: linear-gradient(162.01deg, #163665 3.01%, #06172f 101.28%);
      width: 100%;
      height: auto;
      bottom: 300px;
      &:after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        top: 75px;
        z-index: 0;
        background: url(../imgs/login-shapes.png);
        background-size: cover;
        height: 70%;
      }
    }
  }
}

.login-content {
  height: calc(100vh - 108px);
  display: flex;
  position: relative;
  bottom: 40px;
  &.register-page {
    @media #{$tablet} {
      height: auto;
      padding: 160px 0 60px;
    }
  }
  @media #{$tablet} {
    bottom: 0;
    height: 100vh;
  }
  @media #{$mobile} {
    padding-top: 130px;
    height: auto;
    position: static;
  }

  .register,
  .join {
    h1 {
      font-weight: bold;
      font-size: 60px;
      line-height: 119.7%;
      color: #ffffff;
      @media #{$betweentabdesk} {
        font-size: 50px;
      }
      @media #{$tablet} {
        font-size: 39px;
      }
      @media #{$mobile} {
        font-size: 32px;
      }
    }
    .text {
      max-width: 270px;
      font-size: 14px;
      line-height: 140%;
      margin: 17px 0 54px;
      color: rgba(255, 255, 255, 0.6);
      @media #{$mobile} {
        font-size: 12px;
        margin: 10px 0 32px;
        max-width: 225px;
      }
    }
    .have-account {
      font-family: "Overpass", sans-serif;
      font-weight: 300;
      font-size: 14px;
      line-height: 140%;
      color: #ffffff;
    }
    .register-btn {
      border: 1px solid #ffffff;
      border-radius: 5px;
      width: 205px;
      height: 60px;
      line-height: 60px;
      color: #fff;
      display: inline-block;
      text-align: center;
      font-weight: bold;
      font-size: 20px;
      @media #{$tablet} {
        font-size: 18px;
        height: 50px;
        line-height: 50px;
      }
    }
  }
  .join {
    .text {
      max-width: 325px;
    }
    @media #{$tablet} {
      text-align: center;
      margin-bottom: 50px;
      .text {
        margin-left: auto;
        margin-right: auto;
      }
      .register-btn {
        margin: auto;
      }
    }
  }
  .login,
  .register-content {
    @media #{$mobile} {
      background: #ffffff;
      box-shadow: 0px 4px 26px rgba(33, 83, 212, 0.2);
      border-radius: 15px;
      padding: 32px 20px 55px;
    }
    .login-form {
      .form-group {
        margin-bottom: 38px;
        @media #{$betweentabdesk} {
          margin-bottom: 25px;
        }
        @media #{$maxTab} {
          margin-bottom: 20px;
        }
        label {
          font-family: "Overpass", sans-serif;
          font-size: 16px;
          line-height: 104%;
          color: #333333;
          margin-bottom: 18px;
          @media #{$maxTab} {
            font-size: 14px;
            margin-bottom: 12px;
          }
        }
        input {
          border: 0.2px solid #ccc;
          border-radius: 3px;
          width: 100%;
          font-family: "Overpass", sans-serif;
          font-size: 14px;
          height: 60px;
          line-height: 60px;
          color: #333333;
          padding-left: 24px;
          outline: none;
          @media #{$maxTab} {
            font-size: 12px;
            height: 50px;
            line-height: 50px;
          }
          &::placeholder {
            color: rgba(51, 51, 51, 0.4);
            @media #{$mobile} {
              font-size: 12px;
            }
          }
        }
      }
      .forgot {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media #{$mobile} {
          flex-direction: column;
        }
        a {
          font-family: "Overpass", sans-serif;
          font-weight: 600;
          font-size: 18px;
          line-height: 28px;
          color: #333333;
          @media #{$tablet} {
            font-size: 16px;
          }
          @media #{$mobile} {
            font-size: 16px;
            line-height: 25px;
            margin: 10px 0 25px;
          }
        }
        button {
          border: 0;
          width: 205px;
          height: 60px;
          line-height: 60px;
          padding: 0;

          @media #{$maxTab} {
            display: block;
            width: 100%;
            height: 50px;
            line-height: 50px;
            font-size: 16px;
            @media #{$tablet} {
              display: inline-block;
              width: 150px;
            }
          }
        }
      }
    }
    .register-info {
      text-align: center;
      p {
        font-family: "Overpass", sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 140%;
        color: #173c73;
        margin: 30px 0 10px;
      }
      .register-btn {
        border-radius: 5px;
        border: 1px solid #163665;
        height: 50px;
        line-height: 50px;
        font-family: "Overpass", sans-serif;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        color: #173c73;
        display: block;
      }
    }
  }
  .register-content {
    @media #{$tablet} {
      background: #ffffff;
      box-shadow: 0px 4px 26px rgba(33, 83, 212, 0.2);
      border-radius: 15px;
      padding: 32px 20px 55px;
    }
  }
}
// register page
.register-content {
  .register-form {
    .form-group {
      margin-bottom: 25px;
      label {
        font-family: "Overpass", sans-serif;
        font-size: 16px;
        line-height: 104%;
        color: #333333;
        margin-bottom: 13px;
      }
      input,
      select,
      button {
        width: 100%;
        display: block;
        border: 0.2px solid #ccc;
        border-radius: 3px;
        height: 60px;
        line-height: 60px;
        padding: 0 20px;
        @media #{$maxTab} {
          height: 50px;
          line-height: 50px;
        }
      }
      input {
        outline: none;
        font-size: 14px;
        &::placeholder {
          font-size: 14px;
          color: rgba(51, 51, 51, 0.4);
        }
      }
    }
    .verification {
      display: flex;
      border: 0.2px solid #ccc;
      border-radius: 3px;
      height: 60px;
      line-height: 60px;
      overflow: hidden;
      img {
        display: block;
      }
      @media #{$maxTab} {
        height: 50px;
        line-height: 50px;
        .code {
          img {
            height: 50px;
          }
        }
      }

      input {
        border: 0;
        border-left: 0.2px solid #ccc;
        border-radius: 0 3px 3px 0;
      }
    }
    .last {
      display: flex;
      > div {
        width: 100%;
        display: flex;
        align-items: flex-end;
      }
    }
  }
}
